.detailsDiv {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 4.5%;
  margin-top: -15px;
  padding: 10px;
  width: 90%;
  min-height: 710px;
}

.postDetailDiv {
  /* color: black; */
  width: 90%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 20px;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 50px;
  padding: 20px;
  transition: all ease-in-out 0.6s;
}

.addComDiv {
  position: sticky;
  bottom: 0;
  margin-left: 0px;
  margin-top: 10px;
  width: 100%;
  /* background-color: white; */
}

.comInput {
  color: white;
  width: 85%;
  height: 90px;
  font-size: 20px;
  text-align: center;
  border: 1px rgb(179, 179, 179) solid;
  background-color: black;
  border-radius: 10px;
}

.sendComBtn {
  border: 1px rgb(82, 82, 82) solid;
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  /* padding-bottom: 5px; */
  height: 89px;
  width: 30px;
  transition: all ease-in-out 0.6s;
}

.sendComBtn:hover {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
  /* transform: scale(1.1); */
}

.comMainDiv {
  width: 88%;
  margin-bottom: 5px;
  gap: 20px;
  min-height: 200px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transition: all ease-in-out 0.6s;
}

.btnsDivFull {
  width: 10%;
  margin-top: -25px;
  margin-left: 820px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
}
