* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logDiv {
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
}

.logBtn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  transition: all ease-in-out 0.6s;
}

.logBtn:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  transform: scale(1.1);
}

.mainDivLand {
  padding-top: 20px;
  /* background-color: rgb(238, 238, 238); */
}

.postsMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  padding: 10px;
  width: 80%;
  min-height: 100px;
  /* background-color: rgb(238, 238, 238); */
  /* border: 0.5px solid green; */
}

.postDiv {
  width: 90%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transition: all ease-in-out 0.6s;
}

.btnsDiv {
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  margin: 5px;
  transition: all ease-in-out 0.6s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  transform: scale(1.1);
}

.addingDiv {
  margin-left: 106px;
  width: 81.68%;
  /* background-color: rgb(238, 238, 238); */
}

.addingInput {
  width: 87%;
  height: 102px;
  font-size: 20px;
  text-align: center;
  border: 1px gray solid;
  border-radius: 10px;
}

.sendBtn {
  border: 1px gray solid;
  border-radius: 10px;
  margin-bottom: 10px;
  /* padding-top: -1px; */
  height: 105px;
  transition: all ease-in-out 0.6s;
}

.sendBtn:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  /* transform: scale(1.1); */
}

.comIcon {
  width: 20px;
}
