* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logDiv {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  /* justify-content: center; */
  top: 50%;
  left: 50%;
}

.logBtn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  transition: all ease-in-out 0.6s;
}

.logBtn:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  transform: scale(1.1);
}

.mainDivLand {
  padding-top: 20px;
  /* background-color: rgb(238, 238, 238); */
}

.postsMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  padding: 10px;
  width: 80%;
  min-height: 100px;
  /* background-color: rgb(238, 238, 238); */
  /* border: 0.5px solid green; */
}

.postDiv {
  color: black;
  width: 90%;
  max-height: 200px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transition: all ease-in-out 0.6s;
}

.contDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  /* border: 1px solid black; */
}

.postDesc {
  margin-top: 50px;
}

.timeStamp {
  margin-top: 30px;
}

.btnsDiv {
  width: 30%;
  margin-top: -25px;
  margin-left: 570px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  margin: 5px;
  transition: all ease-in-out 0.6s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  transform: scale(1.1);
}

.addingDiv {
  color: black;
  margin-top: 20px;
  width: 100;
  /* background-color: rgb(238, 238, 238); */
}

.addingInput {
  width: 68%;
  height: 102px;
  font-size: 20px;
  text-align: center;
  border: 1px gray solid;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.sendBtn {
  border: 1px gray solid;
  background-color: rgb(184, 184, 184);
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-bottom: 3px;
  height: 100px;
  width: 30px;
  transition: all ease-in-out 0.6s;
}

.sendBtn:hover {
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  /* transform: scale(1.1); */
}

.comIcon {
  width: 20px;
}
