* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logDivStart {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(https://i.pinimg.com/564x/19/0b/92/190b92ceb373d89b836c8bfe2793a28c.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  /* justify-content: center; */
  top: 50%;
  left: 50%;
}

.startDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startHead {
  width: 100%;
  margin: 50px;
  font-size: 40px;
}

.logBtn {
  background-color: rgb(219, 211, 230);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  width: 20%;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  transition: all ease-in-out 0.6s;
}

.logBtn:hover {
  cursor: pointer;
  background-color: rgb(124, 132, 177);
  transform: scale(1.05);
}

.mainDivLand {
  padding-top: 5%;
  /* background-color: rgb(238, 238, 238); */
}

.postsMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding: 10px;
  width: 80%;
  min-height: 100px;
  /* background-color: rgb(238, 238, 238); */
  /* border: 0.5px solid green; */
}

.postDiv {
  color: black;
  width: 90%;
  min-height: 250px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2%;
  transition: all ease-in-out 0.6s;
}

.contDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: auto;
  /* border: 1px solid black; */
}

.posterName {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postDesc {
  margin-top: 50px;
}

.timeStamp {
  margin-top: 30px;
}

.btnsDiv {
  width: 30%;
  margin-top: -3%;
  margin-left: 70%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
}

.btn {
  background-color: rgb(237, 223, 255);
  width: 40px;
  height: 40px;
  border-radius: 60%;
  margin: 2%;
  transition: all ease-in-out 0.4s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(135, 126, 175);
  transform: scale(1.1);
}

.addingDiv {
  color: black;
  margin-top: 20px;
  width: 100;
  /* background-color: rgb(238, 238, 238); */
}

.addingInput {
  width: 68%;
  height: 15vh;
  font-size: 20px;
  text-align: center;
  border: 1px gray solid;
  background-color: black;
  color: white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.sendBtn {
  border: 1px gray solid;
  background-color: rgb(211, 216, 250);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-bottom: 3px;
  height: 15vh;
  width: 3%;
  transition: all ease-in-out 0.6s;
}

.sendBtn:hover {
  cursor: pointer;
  background-color: rgb(135, 126, 175);
  /* transform: scale(1.1); */
}

.uploading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comIcon {
  width: 20px;
}

@media only screen and (min-width: 768px) {
}
