.loginMainDiv {
  width: 100%;
  height: 695px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* top: 50%;
  left: 50%; */
}

.loginHeadL {
  margin-top: 4%;
  margin-bottom: -2%;
}

.inputsDiv {
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInput {
  width: 40%;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgba(251, 251, 251, 0.9);
  color: black;
}

.loginBtnL {
  background-color: rgb(228, 223, 255);
  margin-top: 20px;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  transition: all ease-in-out 0.6s;
}

.loginBtnL:hover {
  cursor: pointer;
  background-color: rgb(183, 191, 236);
  transform: scale(1.1);
}

.anchr {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.anchr:hover {
  color: rgb(183, 191, 236);
  text-decoration: underline;
}

.googleBtnL {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  margin-top: 20px;
  width: 12%;
  height: 30px;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}

.googleBtnL:hover {
  cursor: pointer;
  background-color: rgb(255, 90, 90);
  transform: scale(1.04);
}
